<!doctype html>
<html>
<head>
<link rel="stylesheet"
	href="webjars/bootstrap/3.0.3/css/bootstrap.min.css" />
	<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="webjars/jquery/2.0.3/jquery.min.js"></script>
<script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>


<link rel="stylesheet" href="css/main.css" />

<script>
	$(document).ready(function(){
		
		$('#codeContainer').css('height',$('body').outerHeight()-$('#header').outerHeight())
		  $("#console").resizable({ handles: 'n' }).bind("resize", function (e, ui) {
	            $(this).css("top", "auto");
	        });
	})

</script>
</head>

<body>
	<div id="wrap">
		<div id="header">
			<div id="lang">
				언어
			</div>
			<div id="theme">
				테마
			</div>
			<div id="font">
				폰트
			</div>
		</div>
		
		<div id="codeContainer">
		
			<div id="code">
				dd
			</div>
		
			<div id="console" >
				dddd
			</div>
		</div>
		
	
	</div>
	


</body>



</html>
